<blockquote style="margin-left:-10px;">
    <div style="margin-top: -25px">
        <h4>Hello, We invite you to register on our site!</h4>
        Why register on our site is profitable?
        <ul>
            <ul style="margin-left: -20px;margin-top: -10px;">
                <li>Free registration</li>
                <li>Ability to upload your work</li>
                <li>Ability to specify your contact information and your website</li>
                <li>We will promote you for free in Russia</li>
                <li>You can find new customers</li>
                <li>Good and honest cooperation</li>
                <li>We can be your official representative in Russia</li>
            </ul>
        </ul>
    </div>
</blockquote>