<blockquote style="margin-left:-10px;">
    <div style="margin-top: -25px">
        <h4>Здравствуйте, Мы приглашаем Вас<br>зарегистрироваться на нашем сайте!</h4>
        Почему регистрация на нашем сайте выгодна?
        <ul>
            <ul style="margin-left: -20px;margin-top: -10px;">
                <li>Бесплатная регистрация</li>
                <li>Загрузка своих работ</li>
                <li>Возможность указать свои контактные данные и свой ​​сайт</li>
                <li>Мы будем рекламировать вас бесплатно в России</li>
                <li>Вы можете найти новых клиентов</li>
                <li>Хорошее и честное сотрудничество</li>
                <li>Мы можем стать Вашими официальными представителями в России</li>
            </ul>
        </ul>
    </div>
</blockquote>