<textarea style="width:500px;height:320px;" readonly>1. Общие положения.
    1.1. Сайт china.piratv.ru — это частный ресурс, бесплатно размещающий информацию о различных вебсайтах и ссылки на них.
    1.2. Администрация сайта имеет право отказать любому сайту в размещении информации о нем на страницах ресурса без объяснения причин. Администрация может размещать любую информацию о любых сайтах на свое усмотрение, а также изменять описания, название и т.п. размещенных ссылок без уведомления пользователей.
    1.3. Сайты сортируются по умолчанию в том порядке, в котором это было установлено администрацией, которая, в свою очередь, имеет право изменять порядок вывода сайтов по категориям, описаний, приоритетов в поиске и т.п. на свое усмотрение.
    1.4. Все сайты проходят предварительную модерацию перед добавлением. Если выявляется нарушение нижеизложенных правил, модератор имеет право отказать сайту в размещении, исправить нарушение самостоятельно, уведомить об этом пользователя или не делать этого.
    2. Требования к добавляемым пользователями сайтам.
    2.1. К участию допускаются только сайты, не нарушающие законодательство Российской Федерации.
    2.2. Crack, warez и т.п. сайты — запрещены.
    2.3. Cайты с порнографическими материалами также запрещены.
    2.4. Cайты, содержащие на своих страницах вирусы (эксплойты), к участию не допускаются.
    3. Положение сайтов в каталоге.
    3.1. Администрация china.piratv.ru вправе размещать любые сайты, равно как и отказывать в размещении любым сайтам на свое усмотрение.
    3.2. Расположение сайтов относительно друг друга определяется рядом открытых критериев, но основным критерием при этом все равно является мнение модератора, который волен сортировать сайты по своему усмотрению.
    4. Техническая поддержка пользователей.
    4.1. Техническая поддержка пользователям не оказывается. Вы может связаться с администрацией по контактным адресам, но каких-либо обязательств по реагированию на сообщения пользователей не существует.
    5. Порядок действия данных правил.
    5.1. Правила действуют для всех пользователей без исключений, под пользователем понимается любой посетитель веб-сайта china.piratv.ru, в независимости от того, добавлял ли он сайт в каталог или нет.
    5.2. Данные правила могут быть в любой момент изменены администрацией в одностороннем порядке без обязательств по уведомлению пользователей.
</textarea>
<div id="license">
    <input type="checkbox"> <span>Я прочитал и согласен с условиями пользовательского соглашения</span>
</div>