<textarea style="width:500px;height:250px;" readonly>1. General.
        1.1. Website china.piratv.ru - is a private resource, free to post information on various websites and links to them.
        1.2. The management has the right to refuse any site in the placement of information about it on the resource without explanation. Administration may post any information on any websites without permission as well as change descriptions title etc. placed links without notice.
        1.3. Sites are sorted by default in the order in which it was installed administration which in turn has the right to change the order in which the sites by categories, descriptions, priorities in the search etc. at its discretion.
        1.4. All sites are pre-moderated before adding. If a violation is detected underwritten rules the moderator has the right to refuse site in the placement, to remedy the breach alone, notify the user or not to do so.
        2. Requirements to add users sites.
        2.1. Are allowed to participate only sites that do not violate the laws of the Russian Federation.
        2.2. Crack, warez, etc. sites - prohibited.
        2.3. Websites with adult content are also prohibited.
        2.4. Websites containing viruses on their pages (exploits) to participate are not allowed.
        3. Situation sites listing.
        3.1. Administration china.piratv.ru may place any sites, as well as refuse to post any sites without permission.
        3.2. Location of sites relative to each other by a number of public criteria, but the main criterion for this is still the opinion of the moderator, who is free to sort the sites on your own.
        4. Technical Support.
        4.1. Technical support is not provided to users. You can contact the contact addresses, but no obligation to respond to messages from users not exist.
        5. Procedures for dealing with these guidelines.
        5.1. Rules apply to all users without exception as the user is defined as any web site visitor china.piratv.ru no matter whether to add it your website or not.
        5.2. These rules may be modified at any time the administration unilaterally without obligation to notify users.
</textarea>
<div id="license">
    <input type="checkbox"> <span>I have read and agree to the terms of this agreement</span>
</div>