<article role="main" class="clearfix contact">
  <div class="post">
    <p>Pyatigorsk, Kalinina, 68</p>

    <p>
      <span class="icon">[</span>: +7 (8793) 39-27-42<br>
      <span class="icon">[</span>: +7 (928) 3-194-194<br>
      <span class="icon">[</span>: +7 (962) 434-55-43<br/>
      <span class="icon">[</span>: +7 (905) 443-08-51<br/>
    </p>

    <p>
      <span class="icon">M</span>: <a href="mailto:china-partners-pira@mail.ru">china-partners-pira[@]mail[.]ru</a> for partners<br>
      <span class="icon">M</span>: <a href="mailto:piratv@inbox.ru">piratv[@]inbox[.]ru</a> for clients
    </p>

    <p>&nbsp;</p>
  </div>
  <div class="g-map">
    <div style="border:5px groove #FCFCFC">
      <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=ugTomRZGimV2_WMqgimEKvLCFcVyO-Vg&width=580&height=300"></script>
    </div>
  </div>
</article>