<div class="portfolio">

  <% url = unit.photo_url %>
  <% url = "http://i1.ytimg.com/vi/#{unit.video_url}/mqdefault.jpg" if unit.photo_url.blank? and unit.video_url.present? %>
  <% url = url.starts_with?('http://') ? url : 'portfolio/' + unit.photo_url %>
  <% width = unit.video_url.present? ? 640 : unit.width; height = unit.video_url.present? ? 480 : unit.height %>
  <% if img_exists?(url) or url.start_with?('http://') %>

    <% link_url = unit.video_url.blank? ? image_path(url) : "http://www.youtube.com/watch?v=#{unit.video_url}" %>

    <span class="image">
      <%= link_to link_url, rel: 'prettyPhoto[gallery]', title: unit.title do %>
        <%= image_tag url, alt: unit.title, width: "#{width}px", height: "#{height}px" %>
      <% end %>
    </span>

  <% end %>

</div>