<%- if @rand_organization.present? %>
  <aside role="complementary">
    <h2>Случайные организации</h2>
      <article class="post content organizations">
        <ul class="post-list">
          <%- @rand_organization.each do |organization| %>
            <li><%= render 'organization', organization: organization, show_info: false %></li>
            <hr style="margin-top: -10px">
          <% end %>
        </ul>
      </article>
  </aside>
<% end %>