<% content_for :banner do %>
  <h1>Приглашаем к сотрудничеству производителей из Китая.</h1>

  <h2>Мы готовы стать вашими официальными представителями в России!</h2>
  <h2>Присылайте нам свои фотографии и мы добавим их в каталог на странице <%= link_to t('Catalog'), create_url('catalog') %></h2>
<% end %>

<% content_for :title, 'Прямые поставки товаров из Китая' %>

<%= render 'layouts/columns_top' %>

<div class="post">
  <h2>Прямые поставки из Китая</h2>
  <p>
    На сегодняшний день Китай - это одна большая мировая производственная индустрия. Здесь достаточно высоко развита промышленность: машиностроение, приборостроение, легкая промышленность. Китай признан второй по величине экономикой мира. Быстрый рост экономики КНР вызывает необходимость предпринимателей и руководителей различного уровня обращать свой взор в сторону этой страны.
  </p>
  <p>
    Производственное оборудование, производственные линии, станки, мебель, мото и спецтехника, а также многое другое из Китая самые востребованные во всем мире. Столь высокая популярность обусловлена высоким качеством в сочетании с минимальной стоимостью. Линии производства из Китая используется на заводах России, Европы, США, Канады и СНГ. Приобретая современное китайское оборудование, Вам гарантируется высокое качество и продолжительный срок службы.
  </p>
  <p>
    Обычно весь товар, пока доходит до своего потребителя, проходит через многих посредников, и соответственно, с каждым этапом становится все дороже.  Мы осуществим доставку заказа напрямую и сократим затратную цепочку посредников.
  </p>
  <p style="font-weight:bold">Мы даем Вам возможность не переплачивать баснословные деньги за заказ</p>
  <p>
    Только скажите нам, что Вы хотите и Вы получите это!
    <br>
    Надеемся, что на этом сайте Вы найдете все необходимое для вашего бизнеса
    Все, что производится в современном мире – производится в Китае!
  </p>
  <p>

  <div style="float:right;max-width:350px;">
    <%= image_tag image_path('catalog/image34920130918144957679.jpeg'), style: 'width:100%' %>
  </div>

  <ul>Категории товаров:
    <li>мебель</li>
    <li>станки для различных видов производства</li>
    <li>оборудование</li>
    <li>сантехника</li>
    <li>техника</li>
  </ul>

  <ul> - Для крупных и мелких оптовых покупателей строительных материалов
    <li>элитная плитка напольная и настенная</li>
  </ul>

  <ul> - Для крупных и мелких оптовых, розничных покупателей:
    <li>корпусная мебель</li>
    <li>мягкая мебель</li>
    <li>обеденные группы</li>
    <li>стулья</li>
    <li>столы</li>
  </ul>

  <div style="clear:both"></div>
  <div style="float:right;max-width:350px;margin-top:-100px">
    <%= image_tag image_path('catalog/image55520130918144959658.jpeg'), style: 'width:100%' %>
  </div>

  <ul> - Офисная мебель, стулья
    <li>элит</li>
    <li>премиум</li>
    <li>бизнес</li>
    <li>эконом</li>
  </ul>

  <ul> - Мототехника
    <li>мотоциклы</li>
    <li>квадроциклы</li>
  </ul>

  <ul> - Производственное оборудование
    <li>предметы домашнего интерьера (все, что Вы видели и еще не видели!)</li>
  </ul>
  </p>
  <p style="font-weight:bold">
    Если в указанном перечне видов товара, продукции, оборудования и т.д. нет того, что нужно именно Вам, то от заказчика требуется только одно: составить эскиз или предоставить фото, и в этом случае мы сделаем <span style="color:red">эксклюзивный заказ</span>.
  </p>
  <p>
    Это только начало!<br>Наш Список будет постоянно пополняться, так что заходите и смотрите!
    <br>Все заказываемые для клиента товары и оборудование производится и поставляется под контролем нашей компании.
  </p>
  <p style="font-weight:bold">
    Мы сотрудничаем только с проверенными поставщиками<br><br>
    Мы подберем для Вас только самые выгодные и надежные предложения<br>
  </p>
  <p>
    <b>Мы гарантируем:</b>
  <ul>
    <li>Высокое качество поставляемого товара</li>
    <li>Оптимальные сроки доставки</li>
    <li>Предоставление любой интересующей Вас информации</li>
    <li>Конкурентные цены на оборудование</li>
    <li>Доставка и сопровождение груза от завода в Китае до склада заказчика</li>
  </ul>
  </p>
  <p style="font-weight:bold">
    Благодаря нашей компании Вы сэкономите свои силы, средства и время. Всю работу по доставке груза мы возьмем на себя.
  </p>
</div>
