<% content_for :banner do %>
  <h1>We invite you to cooperate with manufacturers from China.</h1>

  <h2>We are ready to become your official representative in Russia!</h2>
<% end %>

<% content_for :title, 'Direct delivery of goods from China' %>

<%= render 'layouts/columns_top' %>

<div class="post">
  <h2>Direct delivery of goods from China</h2>

  <p>
    To date, China - is one big global manufacturing industry. There is enough highly developed industry: engineering,
    instrument, light industry. China is recognized as the second largest economy in the world. The rapid growth of
    China's economy calls for entrepreneurs and managers at various levels to turn its attention toward the country.
  </p>

  <p>
    Manufacturing equipment, production lines, machines, furniture, motorcycles and buses, as well as many more from
    China the most popular worldwide. Such a high popularity is due to the high quality combined with the lowest cost.
    Production lines from China used in factories in Russia, Europe, USA, Canada and the CIS. Acquiring modern Chinese
    equipment, you are guaranteed high quality and long life.
  </p>

  <p>
    Usually all the goods until the consumer comes to running through many intermediaries, and accordingly, with each
    step becoming more expensive. We will carry out delivery of the order and will reduce costly direct chain of
    intermediaries.
  </p>

  <p style="font-weight:bold">We give you the opportunity to not overpay for fabulous money order</p>

  <p>
    Just tell us what you want and you'll get it!
    <br>
    We hope that this site has everything you need for your business
    Everything is done in the modern world - made ​​in China!
  </p>

  <p>

  <div style="float:right;max-width:350px;">
    <%= image_tag image_path('catalog/image34920130918144957679.jpeg'), style: 'width:100%' %>
  </div>

  <ul>Categories of goods:
    <li>furniture</li>
    <li>machines for different types of production</li>
    <li>equipment</li>
    <li>sanitary engineering</li>
    <li>technique</li>
  </ul>

  <ul> - For large and small wholesale buyers of building materials
    <li>Luxury tile floor and wall</li>
  </ul>

  <ul> - For large and small wholesale, retail buyers:
    <li>contract furniture</li>
    <li>upholstered furniture</li>
    <li>dinner groups</li>
    <li>chairs</li>
    <li>tables</li>
  </ul>

  <div style="clear:both"></div>
  <div style="float:right;max-width:350px;margin-top:-100px">
    <%= image_tag image_path('catalog/image55520130918144959658.jpeg'), style: 'width:100%' %>
  </div>

  <ul> - Office furniture, chairs
    <li>elites</li>
    <li>premium</li>
    <li>business</li>
    <li>economy</li>
  </ul>

  <ul> - Motorcycles
    <li>motorcycles</li>
    <li>quad bikes</li>
  </ul>
  <br>
  <ul> - Manufacturing equipment
    <li>household furnishings (everything you have seen and have not seen!)</li>
  </ul>
  </p>
  <p style="font-weight:bold">
    If the specified list of types of goods, products, equipment, etc. not that you need it, then the customer requires
    only one thing: to make a sketch or provide a photo, and in this case we do <span style="color:red"> exclusive order </span>.
  </p>

  <p>
    This is just the beginning!<br>Our list will be constantly updated, so check back and see!
    <br>All ordered for client products and equipment manufactured and supplied under the control of our company.
  </p>

  <p style="font-weight:bold">
    We cooperate only with reliable suppliers<br><br>
    We select for you only the most profitable and reliable suggestions<br>
  </p>

  <p>
    <b>We guarantee:</b>
  <ul>
    <li>High quality of delivered goods</li>
    <li>Optimal delivery</li>
    <li>The provision of any information you are interested</li>
    <li>Competitive prices for equipment</li>
    <li>Delivery and support of cargo from the factory in China to the customer's warehouse</li>
  </ul>
  </p>
  <p style="font-weight:bold">
    With our company you can save your strength, time and money. All work on the delivery of the goods, we will
    undertake.
  </p>
</div>