// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profilePage {
  margin: 50px;
  width: 600px;
  strong {
    display: inline-block;
    width: 200px;
  }
  span {
    display: inline-block;
    width: 250px;
    text-align: center;
  }
}
input.hidden {
  display: none;
}
.photo-icon {
  max-height: 30px;
}

.not_specified {
  color:#999;
  font-style:oblique;
}

.pagination {
  ul, li {
    list-style-type: none;
  }
  li {
    display: inline;
  }
  display: block;
  text-align: center;
  margin: 15px auto;
  font-size: 15px;
}

.portfolio_image {
  margin: 30px auto;
  width: 700px;
  a {
    display: inline-block;
  }
  .portfolio {
    display: inline-block;
    float:left;
  }
}
nav > ul > li.active > a, nav ul > li > a:hover {
  color: red;
}