<?php if($page == 'index') : ?>

    <hgroup>
        <h1>We invite you to cooperate with manufacturers from China.</h1>
        <h2>We are ready to become your official representative in Russia!</h2>
    </hgroup>
    <article role="main" class="clearfix">
        <div class="post">

        </div>
    </article>

<?php elseif($page == 'catalog') : ?>

    <hgroup>
        <h1>Catalog</h1>
    </hgroup>

<?php elseif($page == 'register') : ?>

    <hgroup>
        <h1>Регистрация на сайте</h1>
    </hgroup>

<?php elseif($page == 'login') : ?>

    <hgroup>
        <h1>Авторизация на сайте</h1>
    </hgroup>

<?php elseif($page == 'furniture'): ?>

    <hgroup>
        <h1>Catalog</h1>
    </hgroup>

<?php elseif($page == 'contact') : ?>

    <hgroup>
        <h1>Contact</h1>
    </hgroup>
    <article role="main" class="clearfix contact">
        <div class="post">
            <p>Pyatigorsk, Kalinina, 68</p>
            <p><span class="icon">[</span>: +7 (8793) 39-27-42<br />
            <p><span class="icon">[</span>: +7 (928) 3-194-194<br />
            <p><span class="icon">[</span>: +7 (962) 434-55-43<br />
                <span class="icon">M</span>: <a href="mailto:pirabusiness@bk.ru">pirabusiness[@]bk[.]ru</a> for partners</p>
                <span class="icon">M</span>: <a href="mailto:piratv@inbox.ru">piratv[@]inbox[.]ru</a> for clients</p>
            <p>&nbsp;</p>
        </div>
        <div class="g-map"><div style="border:5px groove #FCFCFC">
                <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=ugTomRZGimV2_WMqgimEKvLCFcVyO-Vg&width=580&height=300"></script>
            </div></div>
    </article>

<?php elseif($page == 'page') : ?>

    <hgroup>
        <h1>Pellentesque vestibulum erat eget urna pretium ultricies.</h1>
        <h2>Fusce hendrerit dui eget nisl malesuada vitae malesuada</h2>
    </hgroup>
    <article role="main" class="clearfix">
        <div class="post">
            <h2>Page headline goes here...</h2>
            <p>Cras aliquet accumsan molestie. Morbi purus odio, faucibus sit amet elementum in, interdum eu ipsum. Donec cursus pellentesque mauris vitae ultricies. Donec lacinia nunc in nisl hendrerit scelerisque. </p>
            <p></p>
        </div>
    </article>
    <?php elseif($page == 'error'): ?>

    <hgroup>
        <h1>Something went wrong..</h1>
        <h2>You've come to the error page.</h2>
    </hgroup>
    <article role="main" class="clearfix">
        <div class="post">
            Possible variants for the error:
            <ul>
                <li>incorrectly typed address;</li>
                <li>you have no access to this page;</li>
                <li>page doesn't exist.</li>
            </ul>
        </div>
    </article>

<?php endif; ?>
