<div class="columns">
    <article>
        <figure>
          <%= image_tag image_path('catalog/image39120130918145020995.jpeg'), alt: '' %>
            <figcaption>
                <h3>Furniture for upmarket restaurants</h3>
                <p>
                    Luxury furniture for upmarket restaurants.
                    Tables, chairs, a wide range of.
                </p>
            </figcaption>
        </figure>
    </article>
    <article>
        <figure>
          <%= image_tag image_path('catalog/image14820130918145023933.jpeg'), alt: '', class: 'alt-col' %>
            <figcaption>
                <h3>Sofas and armchairs</h3>
                <p>
                    Luxury and cheap sofas and armchairs.
                </p>
            </figcaption>
        </figure>
    </article>
    <article>
        <figure>
          <%= image_tag image_path('catalog/image54920130918145006712.jpeg'), alt: '' %>
            <figcaption>
                <h3>Tile</h3>
                <p>
                    Wonderful tiles with national figures.
                </p>
            </figcaption>
        </figure>
    </article>
    <article>
        <figure>
          <%= image_tag image_path('catalog/image24720130918144943720.jpeg'), alt: '', class: 'alt-col' %>
            <figcaption>
                <h3>Equipment</h3>
                <p>
                    Direct delivery of any equipment.
                </p>
            </figcaption>
        </figure>
    </article>
</div>