<div class="columns">
    <article>
        <figure>
          <%= image_tag image_path('catalog/image39120130918145020995.jpeg'), alt: '' %>
            <figcaption>
                <h3>Мебель для элитных ресторанов</h3>
                <p>
                    Элитная мебель для элитных ресторанов.
                    Столы, стулья, широкий ассортимент.
                </p>
            </figcaption>
        </figure>
    </article>
    <article>
        <figure>
          <%= image_tag image_path('catalog/image14820130918145023933.jpeg'), alt: '', class: 'alt-col' %>
            <figcaption>
                <h3>Диваны и кресла</h3>
                <p>
                    Элитные и недорогие диваны и кресла.
                </p>
            </figcaption>
        </figure>
    </article>
    <article>
        <figure>
          <%= image_tag image_path('catalog/image54920130918145006712.jpeg'), alt: '' %>
            <figcaption>
                <h3>Плитка</h3>
                <p>
                    Замечательные плитки с национальными рисунками.
                </p>
            </figcaption>
        </figure>
    </article>
    <article>
        <figure>
          <%= image_tag image_path('catalog/image24720130918144943720.jpeg'), alt: '', class: 'alt-col' %>
            <figcaption>
                <h3>Оборудование</h3>
                <p>
                    Прямая доставка любого оборудования.
                </p>
            </figcaption>
        </figure>
    </article>
</div>
