<div class="columns">
    <article>
        <figure>
          <%= image_tag image_path('catalog/image39120130918145020995.jpeg'), alt: '' %>
            <figcaption>
                <h3>Мебель</h3>
                <p>
                    Приглашаем к сотрудничеству производителей китайской мебели
                </p>
            </figcaption>
        </figure>
    </article>
    <article>
        <figure>
          <%= image_tag image_path('catalog/image54920130918145006712.jpeg'), alt: '', class: 'alt-col' %>
            <figcaption>
                <h3>Плитка</h3>
                <p>
                    Приглашаем к сотрудничеству производителей китайской плитки
                </p>
            </figcaption>
        </figure>
    </article>
    <article>
        <figure>
          <%= image_tag image_path('catalog/image24720130918144943720.jpeg'), alt: '' %>
            <figcaption>
                <h3>Оборудование</h3>
                <p>
                    Приглашаем к сотрудничеству производителей китайского оборудования
                </p>
            </figcaption>
        </figure>
    </article>
    <article>
        <figure>
          <%= image_tag image_path('catalog/image91020130918144954974.jpeg'), alt: '', class: 'alt-col' %>
            <figcaption>
                <h3>Техника</h3>
                <p>
                    Приглашаем к сотрудничеству производителей китайской техники
                </p>
            </figcaption>
        </figure>
    </article>
</div>