<div class="columns">
    <article>
        <figure>
                <p style="text-align: center;margin: -25px">
                  <iframe width="580" height="350" src="//www.youtube.com/embed/xgttxajFQ_Q" frameborder="0" allowfullscreen></iframe>
                </p>
        </figure>
    </article>
</div>