<div class="columns">
    <article>
        <figure>
          <%= image_tag image_path('catalog/image39120130918145020995.jpeg'), alt: '' %>
            <figcaption>
                <h3>Furniture for upmarket restaurants</h3>
                <p>
                    We invite you to cooperate with manufacturers of Chinese furniture
                </p>
            </figcaption>
        </figure>
    </article>
    <article>
        <figure>
          <%= image_tag image_path('catalog/image54920130918145006712.jpeg'), alt: '', class: 'alt-col' %>
            <figcaption>
                <h3>Tile</h3>
                <p>
                    We invite you to cooperate with manufacturers of Chinese tiles
                </p>
            </figcaption>
        </figure>
    </article>
    <article>
        <figure>
          <%= image_tag image_path('catalog/image24720130918144943720.jpeg'), alt: '' %>
            <figcaption>
                <h3>Equipment</h3>
                <p>
                    We invite you to cooperate with Chinese equipment manufacturers
                </p>
            </figcaption>
        </figure>
    </article>
    <article>
        <figure>
          <%= image_tag image_path('catalog/image91020130918144954974.jpeg'), alt: '', class: 'alt-col' %>
            <figcaption>
                <h3>Machinery</h3>
                <p>
                    We invite you to cooperate with manufacturers of Chinese machinery
                </p>
            </figcaption>
        </figure>
    </article>
</div>