<div class="columns" style="margin: 0">
    <article style="padding-bottom: 0">
        <figure>
                <p style="text-align: center;margin: -25px">
                  <%= videojs_rails sources: { mp4: '/videos/china.mp4' }, width: 580, height: 350 %>
                </p>
        </figure>
    </article>
</div>